Dinozaury.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT dinozaury (dinozaur+)>
	<!ELEMENT dinozaur (nazwa_polska,okres,dlugosc,wysokosc?,masa)>
	<!ELEMENT nazwa_polska (#PCDATA)>
	<!ELEMENT okres (#PCDATA)>
	<!ELEMENT dlugosc (#PCDATA)>
	<!ELEMENT wysokosc (#PCDATA)>
	<!ELEMENT masa (#PCDATA)>
<!ATTLIST dinozaur nazwa_lacinska CDATA #REQUIRED>
<!ATTLIST dlugosc jednostka (m|cm) #REQUIRED>
<!ATTLIST masa jednostka (kg|t) #REQUIRED>
<!ATTLIST wysokosc jednostka CDATA #FIXED "m">


